body{
    height: 100%;
    margin-top: 0;
}
div{

}
img{
    border-radius: 50%;
    background-color: #039BE5;
    width: 80%;
    margin: 9%;
}
section{
    min-width: 50%;
}
main{
    display: flex;
    flex-direction: row;
}
article{
    padding: 1em;
    margin-left: 3%;
}
p{
    text-align: center;
    padding: 5px;
    font-family: 'Leelawadee';
    overflow-wrap: break-word;
}
h2{
    font-family: sans-serif;
    margin-bottom: 0;
}
.container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}
.container > div {
    padding: 10px;
}

.leftcol{
    max-width: 20%;
    background-color: #FFB74D;
}

.rightcol{
    float: right;
    width: 80%;
    background-color: rgba(20, 20, 20, 0.05);
}
.Title{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(20, 20, 20, 0.63);
    margin: 0;
    text-align: center;
    color: #FFB74D;
    font-family:Montserrat;

}
#contact{
    display: flex;
    flex-direction: column;
}
.idpicture{
    padding: 25px;
    text-align: center;
}
.pleft{

}
.header{
    display: flex;
}
.Name{
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: 300;
    color: #FFB74D;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}
.surname{
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 0;

}
.title{
    border-bottom: #FFB74D;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: Montserrat cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer{
    bottom: 0;
}
.date{
    padding: 15px;
    min-width: 12%;
}
.content{
    flex-basis: 70%;
}
.atout{
    display: flex;
    justify-content: space-evenly;
}
.formation{
    display: flex;
    flex-direction: row;
}
.contenu{
    text-align: left;
    width: 80%;

}
.Prof{
    margin-top: 0;
}
.Exppro{
    display: flex;
    flex-direction: row;
}

.underline {
    border-bottom: 2px solid #FFB74D;
}
.left{
    text-align: left;
}
.identiter{

}
.image{

}
.loisirs{
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}
.cercle{
    border: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-radius: 50%;
    padding: 10px;
}

.weight{
    font-weight: 300;
    margin-top: 0;
}
.année{

}
@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
    }

    #footer{
        display: none;
    }
    #footer2{
        background-color: #FFB74D;
        padding-bottom: 10px;
    }
    .leftcol{

        display: contents;
    }
    .rightcol{
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    body{
        display: flex;
        flex-direction: column;

    }
    article{
        margin: 0;
    }
    .Prof{
       margin: 0;
    }
    .Name{

    }
    .surname{
        margin: 0;
    }
    .image{
        background-color: #FFB74D;
    }
    #contact{
        background-color: #FFB74D;
    }
    .Apropos{
        background-color: #FFB74D;
    }
    .apropos{
        margin: 5%;
    }
    #footer{

    }
    .date{
        padding: 15px;
        min-width: 25%;
    }
    .formation{
        display: flex;
        flex-direction: column;
    }
    .Exppro {
        display: flex;
        flex-direction: column;
    }
    .identiter {
        text-align: center;
    }

}
@media screen and (min-width: 801px){
    #footer2{
        display: none;
    }

}