body, html{
    background-color: lavender;
    height: 100%;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 100px;
}
div{

    height: auto;
}
img{
    border-radius: 100px;
    background-color: #039BE5;
    width: 100%;
    height: 100%;
}
section{
    min-width: 50%;
}
main{
    display: flex;
    flex-direction: row;
}
article{
    padding: 1em;
}
p{
    text-align: center;
    padding: 5px;
    font-family: Leelawadee;
    overflow-wrap: break-word;
}
h2{
    font-family: 'Roboto medium', sans-serif;
}
.container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}
.container > div {
    padding: 10px;
}

#leftcol{
    max-width: 20%;
    background-color: #FFB74D;
}

#rightcol{
    float: right;
    width: 80%;
    background-color: gainsboro;
    padding-left: 35px;
}
.Title{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(20, 20, 20, 0.63);
    margin: 0;
    text-align: center;
    color: aliceblue;
    font-family:Montserrat;

}
#contact{
    display: flex;
    flex-direction: column;
}
.idpicture{
    padding: 25px;
    text-align: center;
}
.pleft{

}
.header{
    display: flex;
}
.Name{
    font-family: "Roboto Light";
}
.title{
    border-bottom: #FFB74D;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: Montserrat cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer{
    height: 100px;
    position: absolute;
    bottom: 0;
}
.date{
    padding: 15px;

}
.content{

}
.formation{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.contenu{
    text-align: left;
    width: 80%;

}
.Exppro{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px){
    main{
        flex-direction: column;
    }
    #leftcol{
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 5%;
    }
    body, html{
        padding-left: 0;
        padding-right: 0;
    }
}